.About {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--second-bg-color);
}

.About img {
  border-radius: 50%;
  border: 2px solid var(--highlight-color);
}

.About h1 {
  margin-bottom: 0;
}

.About p {
  text-align: center;
  margin: 0;
  padding: 20px;
}
