@keyframes glowing {
  50% {
    opacity: 0.5;
  }
}

.Header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header H1 {
  font-size: 2.8em;
  font-weight: 500;
}

.Header span {
  color: var(--highlight-color)
}

.Header H2 {
  font-size: 1.5em;
  font-weight: 500;
}

.Arrow-Down {
  animation: glowing 5s linear infinite;
}