@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&display=swap');

:root {
  --color1: #24305E;
  --color2: #374785;
  --color3: #f6f7ef;
  --color4: #dc6262;
  --color5: #F8E9A1;

  --main-bg-color: var(--color3);
  --main-font-color: var(--color2);
  --highlight-color:var(--color4);
}

html,
body {
  margin: 0;
  font-family: 'Josefin Slab';
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.App {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.App div {
  scroll-snap-align: center;
}