@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&display=swap');

:root {
  --color1: #003e53;
  --color2: #375b68;
  --color3: #9bccd1;
  --color4: #b02853;
  --color5: #fbfbfb;

  --main-bg-color: var(--color1);
  --second-bg-color: var(--color2);
  --main-font-color: var(--color5);
  --highlight-color:var(--color4);
}

html,
body {
  margin: 0;
  font-family: 'Josefin Slab';
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.App {
  height: 100vh;
  overflow: scroll;
}