.Projects {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

.Projects h1 {
  margin: 0;
}

.Projects-Cont {
  max-width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}